.bookbox {
  display: flex;
  width: 80%;
  margin: 10px auto;
  padding: 5px 0;
  border: 1px solid rgb(202, 202, 202);
  color: rgb(77, 77, 77);

  img {
    object-fit: contain;
    margin: 5px 10px;
  }

  .bookbox-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding-right: 10px;

    .bookbox-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media only screen and (max-width: 1200px) {
      .bookbox-top {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @media only screen and (max-width: 600px) {
      .bookbox-top {
        align-items: center;
      }
    }

    .bookbox-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;

      .bookbox-title--main {
        font-size: larger;
        font-weight: bolder;
      }
    }

    @media only screen and (max-width: 600px) {
      .bookbox-title {
        width: 100%;
        align-items: center;
      }
    }

    .bookbox-button {
      //   position: absolute;
      //   right: 20px;
      //   top: 10px;
      // margin: 5px;
      margin-top: -9px;
      margin-right: 4px;
      width: 140px;
      display: flex;
      justify-content: space-between;
    }

    .bookbox-desc {
      text-align: start;
      padding-right: 10px;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    @media only screen and (max-width: 600px) {
      .bookbox-desc {
        text-align: center;
        // padding: 10px;
      }
      .bookbox-button {
        margin-top: 5px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .bookbox {
    flex-direction: column;
    align-items: center;
  }
}
